version: '3.4'

services:
  catalogdb:
    image: mongo
    container_name: catalogdb
    restart: always
    volumes: 
        - ${WEBAPP_STORAGE_HOME}/site:/data/db
    ports: 
        - "27017:27017"
  catalog.api:
    image: adylkanovv/catalogapi:latest
    container_name: catalogapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "CatalogDatabaseSettings:ConnectionString=mongodb://catalogdb:27017"
    depends_on:
      - catalogdb
    volumes:
      - ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets
      - ${HOME}/.aspnet/https:/root/.aspnet/https/
    ports:
      - "8000:80"
  basketdb:
     image: redis
     container_name: basketdb
     restart: always
     volumes:
       - ${WEBAPP_STORAGE_HOME}/site:/data/db
     ports:
       - "6379:6379"
  basket.api:
     image: adylkanovv/basketapi:1.0
     container_name: basketapi
     environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - "ConnectionStrings:Redis=localhost:6379"
     depends_on:
        - basketdb
     volumes:
        - ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets
        - ${HOME}/.aspnet/https:/root/.aspnet/https/
     ports: 
        - "8001:80"
  rabbitmq:
     image: rabbitmq:3-management
  ordering.api:
    image: ${DOCKER_REGISTRY-}orderingapi
    build:
      context: .
      dockerfile: src/Ordering/Ordering.API/Dockerfile
  apigateway:
    container_name: apigateway
    environment:
       - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
       - catalog.api
       - basket.api
       - ordering.api
    volumes:
       - ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets
       - ${HOME}/.aspnet/https:/root/.aspnet/https/
    ports:
       - "7000:80"
  shoppingweb:
    container_name: shoppingweb
    environment:
       - ASPNETCORE_ENVIRONMENT=Development
       - "ApiSettings:BaseAddress=apigateway"
    depends_on:
       - catalog.api
       - basket.api
       - ordering.api
       - apigateway
    volumes:
       - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
       - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    ports:
       - "8003:80"
